* {
  margin: 0;
  padding: 0; /* Redefinido para evitar espaçamento excessivo */
  box-sizing: border-box;
}

/* Estilos do corpo */
body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }

header {
    background: no-repeat center;
    background-size: cover;
    height: auto; /* Ajuste para se adaptar ao conteúdo */
    padding: 20px 0; /* Adiciona espaçamento ao redor do conteúdo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative
  }
  

main {
  padding: 20px;
  padding-bottom: 60px; /* Espaço para o rodapé */
}

section {
  margin-bottom: 40px;
}



nav {
  background-color: #333; /* Cor de fundo do menu */
  width: 100%;
  text-align: center; /* Centraliza o texto dos links */
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 0 15px; /* Espaçamento entre os itens do menu */
}

.menu a {
  font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
  color: #ddd; /* Cor padrão dos links */
  text-decoration: none;
  padding: 10px 15px; /* Adiciona espaçamento interno aos links */
}

.menu li:hover {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
  animation: line 1s;
}

.menu li:hover a {
  color: #74056f;
}

.menu li:not(:last-child) {
  margin-right: 30px;
}
@keyframes line {
  0% {
    background-position-x: 390px;
  }
  }

.container {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 20px auto; /* Centraliza o container e adiciona espaçamento ao redor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  footer {
    background-color: #333; /* Cor de fundo do rodapé */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
  }